/*Import*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');


/*Variables*/

:root{
    --nav: linear-gradient(to right, #a03e6b, #aa4561, #b04e58, #b45950, #b4654a);
    --textosecondary: 'Dancing Script', cursive;
}



/*HELPERS*/
.flex-row{
    display:flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.container{
    max-width: 1366px;
    margin: 0 auto;
}

/*Reset*/
*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;

}

html{
    font-size: 62.5%;
}

ul{
    list-style-type: none;
}

body{
    background-image: var(--nav);
}

/*HEADER*/
#navbarNavAltMarkup{
    font-size: 21px;
}

.navbar-collapse{
    justify-content: end;
}
.navbar-nav{
    gap: 12px;
}

header{
    background-image: var(--nav);
}

.navbar{
    min-height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.navbar__ul{
    flex-basis: 50%;
    justify-content: space-between;
    align-items: center;
}

.logotipo{
    flex-basis: 30%;
}

.logotipo img{
    height:4em;
}

.checkbtn img{
    height:4em;
}

.menu-responsive{
    display:none;
}

.checkbtn{
    display:none;
}

#check{
    display:none;
}

.navbar__ul--li a{
    text-decoration: none;
    font-size:2em;
    color: white;
    font-weight: bold;
}

.navbar__ul--li a:hover{
    background-color: #bf3c20;
    text-decoration: none;
    font-size:2em;
    color: white;
    border-radius: 15px;
}


/* MAIN */

.main{
    background-image: linear-gradient(to bottom, #edd1de, #f3b9c8, #f6a1a9, #f48c82, #e87b55);
    width:100%;
    
}

.main__article{
    height: 150vh;
}

/* ----- Index ----- */

.articulo-uno{
    background-image: url(../public/img/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:repeat(6,1fr) ;
    grid-template-areas:
    ". a ."
    "b b b"
    ". . ."
    ". . ."
    "c c c"
    ". . ." ;

}


.main__titulochico{
    font-size:2.5em;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    grid-area: a;
    align-self: flex-end ;
    animation-name: efecto_mov;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-delay: 5s;
}   

@keyframes efecto_mov {
    0%{ 
        
        font-family: 'Quicksand', sans-serif;;
    }
   
    50%  { 
        
        font-family: 'Noto Sans SC', sans-serif;}

    80%{ 
       
        font-family: 'Source Code Pro', monospace;}
}

.main__article--titulo{
    margin: 40px;
    margin-top:10px;
    font-size:4.5em;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    grid-area: b;
}


.main__article__seccion{
    grid-area: c;
}
.main__article__seccion--p{
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.5em;
    text-align: center;
    color: white;
}


/* ----- Nosotros ------ */

.articulo-nosotros{
    background-image: url(../public/img/fondosomos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display:grid;
    grid-template-columns: repeat (1, 1fr);
    grid-template-rows: repeat (3, 1fr);
    grid-template-areas: 
    "nosotros"
    "seccion"
    "seccion";
}

.titulo-negrita{
    
    margin: 40px;
    font-size: 4em;
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

.seccion-multimedia--p{
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    color: black;
    font-size: 2em;
}

.articulo-nosotros{
    grid-area: titulo;
}

.seccion-nosotros{
    grid-area:seccion;
}

/* ----- Multimedia -----*/

.main__article-multimedia{
    padding: 2em;
    grid-area: articulo;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 40% 29% 29%;
    grid-template-areas: 
    "uno uno uno uno"
    "tres tres dos dos"
    "cuatro cuatro cinco cinco";
    gap: 20px;
    
}

.main__article-multimedia picture img{
    width:100%;
}

.main__article-multimedia picture img:hover {

    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    
    filter: grayscale(50%);
    cursor: pointer;
    
    }

.main__article-multimedia__seccion{
    background-color: #674949;
    width:100em;
    border: 2px solid black;
    border-radius: 15px;
    margin: 10px;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,1fr);


}


.main__article-multimedia__seccion p{
    margin-bottom: 20px;
    font-size: 1.5em;
    text-align: center;
    color:white;
    align-self: center;
}

.main__article-multimedia__seccion img{
    height: 40em;
}


.main-multimedia{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: 10% 30% 180vh;
    grid-template-areas: 
    "titulo"
    "carusel"
    "articulo";
}


.titulo-multimedia{
    grid-area: titulo;
}

#carouselExampleIndicators{
    grid-area: carusel;
}

.imagen-uno{
    grid-area: uno;
}

.imagen-dos{
    grid-area: dos;
}

.imagen-tres{
    grid-area: tres;
}

.imagen-cuatro{
    grid-area: cuatro;
}

.imagen-cinco{
    grid-area: cinco;
}



/* ----- Beneficios -----*/

.main-beneficios{
    display:grid;
}

.main__article-beneficios{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 40% 50%;
    grid-template-areas: 
    "imagen beneficios"
    "video video";
    
}

.beneficios-imagen{
    justify-self: center;
    padding:20px;
    grid-area: imagen;
}

.main__article-beneficios .beneficios-imagen img{
    border: 3px solid black;
    border-radius: 25px;
    width: 450px;
}

.seccion-video{
    grid-area: video;
    padding: 20px;
}
.seccion-video iframe {
    width:100%;
}

.seccion-beneficios{
    padding: 15px;
    grid-area: beneficios;
}

.seccion-beneficios h2{
    font-size:2em;
    font-family: var(--textosecondary);
}

.article-beneficios__seccion{
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5em;
}

.article-beneficios__seccion h2{
    padding: 15px;
    margin: 10px;
}

.article-beneficios__seccion p{
    padding: 15px;
}

/* ----- Contacto ----- */

.main-contacto{
    background-color: #E5C1BD;
    width:100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 15%;
}

.main__formulario{
    padding: 15px;
    text-align: center;
    font-size: 2.5em;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-template-areas:
    "lnombre nombre"
    "lapellido apellido"
    "lnacimiento nacimiento"
    "lconsulta consulta"
    "boton boton" ;
    gap:15px;
}

.main__formulario input{
    width: 20em;
}

#label-nombre{
    grid-area: lnombre;
}
#label-apellido{
    grid-area: lapellido;
}
#label-fnacimiento{
    grid-area: lnacimiento;
}
#label-texto{
    grid-area:lconsulta;
}
#nombre{
    grid-area: nombre;
}
#apellido{
    grid-area: apellido;
}
#fnacimiento{
    grid-area: nacimiento;
}
#area-text{
    grid-area: consulta;
}
.main__formulario button{
    font-size: 0.7em;
    justify-self: center;
    width: 5em;
    grid-area: boton;
}


/* FOOTER */

.pieDePagina{
    height:200px;
    background-color: black ;
    display:grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(3,1fr); 
    grid-template-areas: 
    ". . . . . ."
    ". . c c . ."
    ". . . . . .";
}

.pieDePagina__titulo{
    margin:auto;
    padding: 20px;
    color: white;
    text-align: center;
    grid-area: c;
}


/* MEDIAQUERYS */

@media screen and (min-width:1400px){
    .main-multimedia{
        height: 300vh;
    }
}

@media screen and (max-width:1024px){
    .navbar__ul{
        display:none;
    }

    .menu-responsive{
        display:flex;
        justify-content: right;
    }

    .main-multimedia{
        height: 280vh;
    }

    #check:checked ~ .navbar__ul{
        display: flex;
        height: 20vh;
        flex-direction: column;
        position: absolute;
        right: 15px;
        top:50px;
    }

    .checkbtn{
        display: inline-block;
        cursor:pointer;
    }

    
}

@media screen and (max-width:768px) {
    
    
    .main__article{
        height: 280vh;
    }
    
    .main-multimedia{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 10% 90%;
        grid-template-areas: 
        "titulo"
        "articulo";
    }

    .main__article-multimedia{
        height: 220vh;
        display:grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 13.5% 20% 20% 20% 20%;
        grid-template-areas: 
        "uno"
        "dos"
        "tres"
        "cuatro"
        "cinco";
        gap:30px;
    }
    #carouselExampleIndicators{
        display: none;
    }
    
    .main__article-beneficios{
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: 30% 25% 30%;
        grid-template-areas:
        "imagen"
        "beneficios"
        "video";
    }

    .seccion-video{
        width:100%;
    }
    
    .beneficios-imagen{
        width:100%;
    }
    .main__article-beneficios .beneficios-imagen img{
        width:100%;
    }
    
    .main__formulario{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(9,1fr);
        grid-template-areas:
        "lnombre "
        "nombre"
        "lapellido" 
        "apellido"
        "lnacimiento" 
        "nacimiento"
        "lconsulta" 
        "consulta"
        "boton" ;
    }

    .main__formulario label{
        justify-self: center;
    }
    .main__formulario input{
        justify-self: center;
    }
    #fnacimiento{
        height:2em;
    }


}