header {
  background-image: var(--nav); }
  header #navbarNavAltMarkup {
    font-size: 21px; }
  header .navbar-collapse {
    justify-content: end; }
  header .navbar {
    min-height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem; }
    header .navbar__ul {
      flex-basis: 50%;
      justify-content: space-between;
      align-items: center; }
      header .navbar__ul--li a {
        text-decoration: none;
        font-size: 2em;
        color: white;
        font-weight: bold; }
      header .navbar__ul--li a:hover {
        background-color: #bf3c20;
        text-decoration: none;
        font-size: 2em;
        color: white;
        border-radius: 15px; }
    header .navbar-nav {
      gap: 12px; }
    header .navbar .logotipo {
      flex-basis: 30%; }
      header .navbar .logotipo img {
        height: 4em; }
  header .navbar-collapse {
    justify-content: end; }
  header .menu-responsive {
    display: none; }
  header .checkbtn {
    display: none; }
    header .checkbtn img {
      height: 4em; }
  header #check {
    display: none; }

.main {
  background-image: linear-gradient(to bottom, #edd1de, #f3b9c8, #f6a1a9, #f48c82, #e87b55);
  width: 100%; }
