<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Beneficios</title>
</head>
<body>
    <header class="container">
        <nav class="navbar flex-row">
            <picture class="logotipo">
                <img src="../public/img/logo.png" alt="Logotipo">
            </picture>

            <input type="checkbox" id="check" >
            <label for="check" class="checkbtn">
                <img src="../public/img/responsive.png" alt="Logotipo">
            </label>
            
            <ul class="navbar__ul flex-row">
                <li class="navbar__ul--li navbar__ul--li-extreme">
                    <a href="../index.html">Home</a>
                </li>
                <li class="navbar__ul--li">
                    <a href="./nosotros.html">Nosotros</a>
                </li>
                <li class="navbar__ul--li">
                    <a href="./multimedia.html">Multimedia</a>
                </li>
                <li class="navbar__ul--li">
                    <a href="./beneficios.html">Beneficios</a>
                </li>
                <li class="navbar__ul--li">
                    <a href="./contacto.html">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>
    </header>
    <main class="main main-beneficios">
        <h2 class="titulo-negrita">Beneficios</h2>
        <article class="main__article-beneficios">
            <picture class="beneficios-imagen">
                <img src="../public/img/aguacayendo.jpg" alt="Imagen de un hombre con buena salud">
            </picture>
            <section class="article-beneficios__seccion seccion-beneficios">
                <h2>Armonia</h2>
                <h2>Equilibrio</h2>
                <h2>Salud</h2>
                <h2>Bienestar</h2>
            </section>
            <section class="article-beneficios__seccion seccion-video">
                <h2>Video</h2>
                <iframe width="1282" height="480" src="https://www.youtube.com/embed/2sEgsGv1FXE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </section>
        </article>
        
    </main>
    <footer class="pieDePagina">
        <h3 class="pieDePagina__titulo">Copyright 2022</h3>
    </footer>
</body>
</html>