<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Contacto</title>
</head>
<body>
    <header class="container">
        <nav class="navbar flex-row">
            <picture class="logotipo">
                <img src="../public/img/logo.png" alt="Logotipo">
            </picture>

            <input type="checkbox" id="check" >
            <label for="check" class="checkbtn">
                <img src="../public/img/responsive.png" alt="Logotipo">
            </label>
            
            <ul class="navbar__ul flex-row">
                <li class="navbar__ul--li navbar__ul--li-extreme">
                    <a href="../index.html">Home</a>
                </li>
                <li class="navbar__ul--li">
                    <a href="./nosotros.html">Nosotros</a>
                </li>
                <li class="navbar__ul--li">
                    <a href="./multimedia.html">Multimedia</a>
                </li>
                <li class="navbar__ul--li">
                    <a href="./beneficios.html">Beneficios</a>
                </li>
                <li class="navbar__ul--li">
                    <a href="./contacto.html">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="main main-contacto">
        
        <h2 class="titulo-negrita">Formulario de contacto</h2>
        <form class="main__formulario" action="">
            <label id="label-nombre" for="nombre">Nombre:</label>
            <input type="text" name="nombre" id="nombre" placeholder="Tu nombre">
            <label id="label-apellido" for="apellido">Apellido:</label>
            <input type="text" name="apellido" id="apellido" placeholder="Tu apellido">
            <label id="label-fnacimiento" for="fecha-nacimiento">Fecha de nacimiento:</label>
            <input type="date" name="fecha-nacimiento" id="fnacimiento">
            <label id="label-texto" for="area-texto">Consulta:</label>
            <textarea id="area-text" name="area-texto"></textarea>
            <button>Enviar</button>
        </form>
    </main>
    <footer class="pieDePagina">
        <h3 class="pieDePagina__titulo">Copyright 2022</h3>
    </footer>
</body>
</html>