<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Multimedia</title>
</head>
<body>
    <header class="container">
        <nav class="navbar flex-row">
            <picture class="logotipo">
                <img src="../public/img/logo.png" alt="Logotipo">
            </picture>

            <input type="checkbox" id="check" >
            <label for="check" class="checkbtn">
                <img src="../public/img/responsive.png" alt="Logotipo">
            </label>
            
            <ul class="navbar__ul flex-row">
                <li class="navbar__ul--li navbar__ul--li-extreme">
                    <a href="../index.html">Home</a>
                </li>
                <li class="navbar__ul--li">
                    <a href="./nosotros.html">Nosotros</a>
                </li>
                <li class="navbar__ul--li">
                    <a href="./multimedia.html">Multimedia</a>
                </li>
                <li class="navbar__ul--li">
                    <a href="./beneficios.html">Beneficios</a>
                </li>
                <li class="navbar__ul--li">
                    <a href="./contacto.html">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="main main-multimedia">
        <h1 class="titulo-negrita titulo-multimedia">Imagenes</h1>
        <article class="main__article-multimedia container">
            <!--<section class="main__article-multimedia__seccion seccion-uno"> 
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, aut deserunt maiores qui quo beatae esse quod molestiae. Itaque eaque in possimus corporis saepe natus tenetur laboriosam? Nobis, voluptates velit!</p>
                
            </section>
            <section class="main__article-multimedia__seccion seccion-dos"> 
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, aut deserunt maiores qui quo beatae esse quod molestiae. Itaque eaque in possimus corporis saepe natus tenetur laboriosam? Nobis, voluptates velit!</p>
                
            </section>
            <section class="main__article-multimedia__seccion seccion-tres"> 
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, aut deserunt maiores qui quo beatae esse quod molestiae. Itaque eaque in possimus corporis saepe natus tenetur laboriosam? Nobis, voluptates velit!</p>
            </section>
        -->
            <picture class="imagen-uno">
                <img src="../public/img/acupuntura-larga.jpg" alt="Acupuntura">
            </picture>
            <picture class="imagen-dos">
                <img src="../public/img/imagen-acumpuntura.jpg" alt="Acupuntura">
            </picture>
            <picture class="imagen-tres">
                <img src="../public/img/mujeracupuntura.jpeg" alt="Mujer haciendo acupuntura">
            </picture>
            <picture class="imagen-cuatro">
                <img src="../public/img/moxibustion.jpeg" alt="Moxibustion">
            </picture>
            <picture class="imagen-cinco">
                <img src="../public/img/hombreauriculoterapia.jpeg" alt="Oreja de hombre con auriculoterapia">
            </picture>
        </article>
    </main>
    <footer class="pieDePagina">
        <h3 class="pieDePagina__titulo">Copyright 2022</h3>
    </footer>
</body>
</body>
</html>