/* MAIN */

$estilo: (
color-gradiente: linear-gradient(to bottom, #edd1de, #f3b9c8, #f6a1a9, #f48c82, #e87b55),
color-blanco: white,
);

@mixin fuente-alinear($fontsize,$textalign){
    font-size:$fontsize;
    text-align: $textalign;
}



.main{
    background-image: map-get($estilo,color-gradiente);
    width:100%;

    .main__article{
        height: 150vh;

        .main__titulochico{
            @include fuente-alinear(2.5em,center);
            text-transform: uppercase;
            color: map-get($estilo,color-blanco);
            font-weight: bold;
            grid-area: a;
            align-self: flex-end ;
            /*
            animation-name: efecto_mov;
            animation-duration: 7s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in;
            animation-delay: 5s;
            */
        }   

        &--titulo{
            @include fuente-alinear(4.5em,center);
            margin: 40px;
            margin-top:10px;
            text-transform: uppercase;
            color: map-get($estilo,color-blanco);
            font-weight: bold;
            grid-area: b;
        }
        
        .main__article__seccion{
            grid-area: c;

            
            .main__article__seccion--p{
                @include fuente-alinear(2.3em,center);
                padding: 10px;
                margin-left: 20px;
                margin-right: 20px;
                color: map-get($estilo,color-blanco);
            }
        }
    }

    .articulo-uno{
        height:200vh;
        background-image: url(../public/img/fondo.png);
        background-repeat: no-repeat;
        background-size: cover;
        display:grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows:repeat(6,1fr) ;
        grid-template-areas:
        ". a ."
        "b b b"
        ". . ."
        ". . ."
        "c c c"
        ". . ." ;
    
    }

    
    
}




/* ----- MEDIAQUERY ----- */

@media screen and (max-width:768px) {
    
    
    .main__article{
        height: 280vh;
    }

}