/* MAIN */

$estilo: (
color-gradiente: linear-gradient(to bottom, #edd1de, #f3b9c8, #f6a1a9, #f48c82, #e87b55),
color-blanco: white,
);

@mixin fuente-alinear($fontsize,$textalign){
    font-size:$fontsize;
    text-align: $textalign;
}



.main{
    background-image: map-get($estilo,color-gradiente);
    width:100%;

    .main__article{
        height: 150vh;

        .main__articlecontenedor{
            background-image: url(../public/img/fondo.png);
            background-repeat: no-repeat;
            background-size: cover;
            grid-area: a;
            display:grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows:repeat(2,1fr) ;
            grid-template-areas:
            "subtitulo subtitulo"
            "titulo titulo";

            .main__article--titulo{
                @include fuente-alinear(4.5em,center);
                margin: 40px;
                margin-top:10px;
                text-transform: uppercase;
                color: map-get($estilo,color-blanco);
                font-weight: bold;
                grid-area: titulo;
            }

            .subtitulo{
                grid-area: subtitulo;
            }
        }

        .main__titulochico{
            @include fuente-alinear(2.5em,center);
            text-transform: uppercase;
            color: map-get($estilo,color-blanco);
            font-weight: bold;
            grid-area: a;
            align-self: flex-end ;
            /*
            animation-name: efecto_mov;
            animation-duration: 7s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in;
            animation-delay: 5s;
            */
        }   

        
        
        .main__article__seccion{
            background: linear-gradient(0deg, rgba(207,147,186,1) 33%, rgba(242,144,146,1) 99%);;
            padding: 50px;
            grid-area: b;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows:repeat(3,1fr) ;
            grid-template-areas:
            "titulo titulo"
            "au ve"
            "ac acue";
            gap:50px;

            .titulo-seccion{
                align-self: center;
                grid-area: titulo;
                text-shadow: 0 0 2px black;

            }
            .sombra{
                text-shadow: 0 0 2px black;
            }
            .main__article__seccion__uno{
                grid-area: au;
                width:100%;
            }
            .main__article__seccion__dos{
                grid-area: ve;
                width:100%;
            }
            .main__article__seccion__tres{
                grid-area: ac;
                width:100%;
            }
            .main__article__seccion__cuatro{
                grid-area: acue;
                width:100%;
            }
            .main__article__seccion--p{
                @include fuente-alinear(2em,center);
                padding: 8px;
                margin-left: 20px;
                margin-right: 20px;
                color: map-get($estilo,color-blanco);
                text-shadow: 0 0 2px black;

            }
        }
    }

    .articulo-uno{
        height:210vh;
        display:grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows:35% 65% ;
        grid-template-areas:
        "a a a"
        "b b b";
    
    }

    
    
}




/* ----- MEDIAQUERY ----- */

@media screen and (max-width:880px){
    .main{
        .main__article{
            height: 280vh;
        }
    }
}

@media screen and (max-width:768px) {
    
    .main{
        .main__article{
            height: 400vh;

            .main__articlecontenedor{
                grid-area: a;
                display:grid;
                grid-template-columns: 100%;
                grid-template-rows:repeat(2,1fr) ;
                grid-template-areas:
                "subtitulo"
                "titulo";
            }
            .main__article__seccion{
                padding: 5px;
                display: grid;
                grid-template-columns: repeat(1,1fr);
                grid-template-rows:repeat(5,1fr) ;
                grid-template-areas:
                "titulo"
                "au" 
                "ve"
                "ac"
                "acue";

                .main__article__seccion--p{
                    
                    margin-left: 0px;
                    margin-right: 0px;
                    
                }
            }
          }

          .articulo-uno{
            display:grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows:25% 75% ;
            grid-template-areas:
            "a a a"
            "b b b";
        
        }
    

    }

}