.titulo-negrita{
    @include fuente-alinear(4em,center);
    margin: 40px;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

.articulo-nosotros{
    height:100vh;
    background-image: url(../public/img/fondosomos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "nosotros"
    "seccion"
    "seccion";

    .titulo-nosotros{
        grid-area:nosotros;
        align-self: center;
    }

    .seccion-nosotros{
        grid-area:seccion;
        align-self: center;

        .seccion-nosotros--p{
            @include fuente-alinear(2em,center);
            padding: 20px;
            margin-left: 20px;
            margin-right: 20px;
            color: black;
        }
    }

}


@media screen and (max-width:800px) {
    
    .main{
        .articulo-nosotros{
            height: 220vh;
        }
    }
}



